{% extends "blog/base.html" %}
{% block title %} Вход в систему {% endblock %}
{% block content %}
    <h2> Вход </h2>
    <a href="{% url 'accounts:signup' %}"  class="btn btn-link btn-lg active btn-block text-decoration-none">Зарегистрироваться</a>
    <a href="{% url 'social:begin' 'github' %}"  class="btn btn-link btn-lg active btn-block text-decoration-none">Вход через GitHub</a>
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-link btn-lg active btn-block text-decoration-none">Вход через Google</a>
    <form method="post" class="form">
        {{ form.username }}
        {{ form.password }}
        <div class="mb-1 fs-5">Запомнить меня: {{ form.remember_me }}</div>
        {% csrf_token %}
        <input type="submit" class="btn btn-primary btn-lg" value="Login">
    </form>
   <a class="text-decoration-none fs-5" href="{% url 'password_reset' %}">Сбросить пароль</a>
{% endblock %}