{% load blog_tags %}
{% load blog_extras %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
<div>
    <h3>
        <a href="{% url 'blog:post_list' %}">Мой блог</a> |
        <a href="{% url 'blog:post_search' %}">Поиск статей</a> |
{#        <a href="http://127.0.0.1:8000/admin/">admin</a> |#}
        <a href="{% url 'admin:index' %}">admin</a> |
        <a href="{% url 'accounts:signup' %}">Регистрация</a> |
        {% if user.is_authenticated %}
        <a href="{% url 'password_reset' %}">Сбросить пароль</a>
        {% endif %}
    </h3>
</div>
<div id="content">

{# Вывод сообщений #}
{% if messages %}
    {% for message in messages %}
        {{ message.tags }} {{ message }}
    {% endfor %}
{% endif %}

    {% block content %}
    {% endblock %}
</div>


<div id="sidebar">
    <h2>Блог о Django</h2>
    <p>Полезная информация о фреймворке. Уже написано {% total_posts %}
        {#  Через переменную cnt передаем из одного тега в другой #}
        {% total_posts as cnt %} {{ cnt|ru_plural:"статья, статьи, статей" }}
    </p>

    <hr>
    {% if user.is_authenticated %}
        Привет {{ user.username }}!
{#        # На Django 5.0 и выше  удалили выход из системы по запросу GET#}
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>Войти в систему</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    <hr>

    <h3>Последние статьи:</h3>
    {% show_latest_posts 3 %}

    <h3>Самые обсуждаемые статьи</h3>
      {% get_most_commented_posts 3 as most_commented_posts %}
      <ul>
         {% for post in most_commented_posts %}
         <li>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
         </li>
         {% endfor %}
      </ul>
</div>
</body>
</html>
